# editor folders
.idea/
.vscode/

# build folders
SimLight.egg-info/
dist/
build/

# cache
__pycache__/
*.py[cod]

# dev files
*test.*
*dev.*

# example files
spherical_aberration*.ipynb
threed_localization*.ipynb

# saved data files
*.npy
*.mat
!Examples/data/*.mat

# images
*.jpeg
*.jpg
*.pdf
*.png

# dist files
*.whl
*.tar.gz