# editor folders
.idea/
.vscode/

# build folders
SimLight.egg-info/
dist/
build/

# cache
__pycache__/
*.py[cod]

# dev files
*test.*
*dev.*

# saved data files
*.npy
*.mat

# images
*.jpeg
*.jpg
*.pdf
*png

# dist files
*.whl
*.tar.gz